@{
}

<html>
<head>
    <title>React in Razor Page</title>
</head>
<body>
    <h1>Razor Page with Embedded React App</h1>

    <div id="react-app-container">
        <!-- Вбудований контейнер для React додатку -->
    </div>
    <!-- Підключення скрипту React додатку -->
    <script type="module" src="~/react-app/dist/main.js" ></script>
</body>
</html>
